h2 Ajouter une ressource
form(method="post" action="/item/" + party._id)
    ul
        li
            label(for="name") Ce que je vais apporter
            input(name="name" id="name" required minlength="3" placeholder="Riz" type="text")
        li
            label(for="author") Votre Prénom
            input(name="user" id="author" required minlength="3" placeholder="Teddy")
    button(type="submit") Créer